<h3>Por Region</h3>

<div class="row">
  <div class="col">
    <button
      *ngFor="let r of regiones"
      class="btn mx-2"
      (click)="activarRegion(r)"
      [ngClass]="{ 'btn-outline-primary': regionActiva === r }"
    >
      {{ r }}
    </button>
  </div>
</div>

<hr />

<div class="alert alert-danger" *ngIf="hayError">
  No se encontraron paises para la region: <strong>{{ regionActiva }}</strong>
</div>

<div class="row">
  <div class="col">
    <app-shared-spinner *ngIf="isLoading"></app-shared-spinner>
    <app-tabla [paises]="paisesRegion"></app-tabla>
  </div>
</div>
